<app-navbar-admin></app-navbar-admin>
<div class="container mt-5">
    <h2 class="text-center">Bienvenue {{admin.firstname}}</h2>
    <br />

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Suprression de compte</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Êtes-vous sûr de vouloir supprimer votre compte ? 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteAccount()">Oui</button>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-6">

            <div class="mt-5">
                <button routerLink="/administrator/admin/update/{{id}}" class="btn qg-primary-button">Modifier mes informations</button>
            </div>

            <div class="mt-5">
                <button routerLink="/administrator/admin/update/password/{{id}}" class="btn qg-primary-button">Modifier mon mot de passe</button>
            </div>
            
            <div class="mt-5">
                <button class="btn qg-danger-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Supprimer mon compte</button>
            </div>


        </div>

        <div class="col-lg-3 col-sm-12 col-md-6 ">

            <div class="mt-5 stat">
                <p class="stat-title">Nombre de stagiaires</p>
                <p class="stat-content"><i class="fa-solid fa-graduation-cap"></i> &nbsp;{{count.internCount}}</p>
            </div>
            
            

        

            <div class="mt-5 stat">
                <p class="stat-title">Nombre de questionnaires</p>
                <p class="stat-content"><i class="fa-solid fa-list"></i> &nbsp;{{count.quizCount}}</p>
            </div>
            
            
        </div>

        <div class="col-lg-3 col-sm-12 col-md-6 ">

            <div class="icon-add" style="cursor: pointer;">
                <p class="stat-content" routerLink="/administrator/intern/create"><i class="fa-solid fa-user-plus"></i></p>
            </div>
            
            

        

            <div class="icon-add2" style="cursor: pointer;">
                <p class="stat-content" routerLink="/administrator/quiz/create"><i class="fa-solid fa-add"></i></p>
            </div>
            
            
        </div>

        
    </div>

    
</div>