<div class="container sign w-50 h-75 mb-auto mt-5">

  <form (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="image d-flex justify-content-center">
      <img src="assets/images/logoProjet.png" class="w-50" alt="...">
    </div>

    <p *ngIf="loginFailed" style="color: red;"> Votre nom utilisateur ou mot de passe est incorrect</p>

    <div class="container">

      <div class="mb-3">
        <label for="username" class="form-label">Nom d'utilisateur</label>
        <input type="text" formControlName="username" class="form-control" id="username">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="text" formControlName="password" class="form-control" id="password">
      </div>

      <div style="text-align: center;">
        <button class="mt-5 " type="submit" class="btn btn-primary btn-lg ">Se connecter</button>
      </div>
    </div>
  </form>
</div>