// .sign{
//   margin: 20px auto;
//   padding: 20px;
// }
.form-inline input{
  height: 70px;
  // width: 500px;
}
.form-inline{
margin-left: 70px;
margin-right: 100px;


}
.form-inline button{
  background-color:#455BD0 ;
}

