<app-navbar-admin></app-navbar-admin>
<div class="container mt-5">
    <h2>Mise à jour des informations</h2>
    <br />
    <div *ngIf="isSubmit && isSuccess" class="alert alert-success" role="alert">
        Questionnaire ajouté avec succès <a href="/administrator/quiz/list">Liste des questionnaires</a>
    </div>

    <div *ngIf="isSubmit && isFailed" class="alert alert-danger" role="alert">
        Une erreur est survenue
    </div>
    <form >

        <table class="table" aria-label="Modification d'un questionnaire">

            <tr>
                <td>
                    <div class="mb-3">
                        <label for="nom" class="form-label">Titre</label>
                        <input type="text" [(ngModel)]="quiz.title"  name="title"  class="form-control" id="title">
                    </div>
                </td>



            </tr>

            <tr>
                <td>
                    <div class="mb-3">
                        <label for="nom" class="form-label">Description</label>
                        <textarea type="text" [(ngModel)]="quiz.summary"  name="summary" class="form-control" id="summary"></textarea>
                    </div>
                </td>

              
            </tr>

            

        </table>
        <div class="qg-save-button">
            <button class="btn qg-primary-button qg-save-button" (click)="updateQuiz()">Mettre à jour</button>
        </div>
    </form>
</div>