<app-navbar-admin></app-navbar-admin>
<div class="container mt-5">
    <h2>Mise à jour du mot de passe</h2>
    <br />
    <div *ngIf="isSubmit && isSuccess" class="alert alert-success" role="alert">
        Mot de passe modifié avec succès <a href="/administrator/">Tableau de bord</a>
    </div>

    <div *ngIf="isSubmit && isFailed" class="alert alert-danger" role="alert">
        Une erreur est survenue
    </div>
    <form (ngSubmit)="updatePassword()" [formGroup]="updatePasswordForm">

        <table class="table" aria-label="Ajout d'un questionnaire">

            <tr>
                <td>
                    <div class="mb-3">
                        <label for="nom" class="form-label">Ancien de mot de passe</label>
                        <input type="password" formControlName="oldPassword" class="form-control" id="title">
                    </div>
                </td>



            </tr>

            <tr>
                <td>
                    <div class="mb-3">
                        <label for="nom" class="form-label">Nouveau mot de passe</label>
                        <textarea type="password" formControlName="newPassword" class="form-control" id="summary"></textarea>
                    </div>
                </td>

              
            </tr>

            

        </table>
        <div class="qg-save-button">
            <button type="submit" class="btn qg-primary-button qg-save-button">Modifier</button>
        </div>
    </form>
</div>