.d-flex{
  margin: 15% 30%;
}
p{
  font-size: 2rem;
  font-weight: bold;
}
.pctv{
  padding-left: 50%;
  color: green;
}
.pcte{
  padding-left: 50%;
  color: red;
}
// button{
//   margin-top: -14%;
//   padding-left: 40%;


// }
