<app-navbar-intern></app-navbar-intern>

<div class="container">
  <form class="container" (ngSubmit)="submit()">
    <div *ngIf="step == 1" class="page" id="page1">
      <div class="row partie-left">
        <div class="col">
          <h3>Titre</h3>
          <p>{{quiz?.title}}</p>
          <h3>Description</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum culpa odit iste eveniet ab. Quis, dignissimos? Incidunt numquam veritatis delectus illo magni sunt, in repellat, maxime ea soluta aut aliquid.</p>
        </div>
        <div class="col">
          <h3>Consignes</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic facilis, officiis assumenda ipsum libero, iure nulla debitis facere autem, nemo accusantium voluptate. Cupiditate porro quo blanditiis eaque quia enim voluptate!</p>
        </div>
      </div>
    </div>

    <!-- <div *ngIf="step == 2" class="page" name="check" id="page2">
      <h3>Titre</h3>
    </div>
    <div
      *ngIf="step == 3"
      class="page"
      id="page3"
    >
    </div> -->

     <div  class="d-flex justify-content-center btn-start mr-5">

      <button
        [routerLink]="['/intern/questions/progress', quiz?.id]"
        *ngIf="step === 1"

        class="btn btn-warning mx-1 my-2"
      >
        Demarrer
      </button>
      <!-- <button
        (click)="previous()"
        *ngIf="step > 1 && step < totalQuestion"

        type="submit"
        class="btn btn-danger mx-1 my-2"
      >
        Suivant
      </button> -->
     <!-- <button
        *ngIf="step != 3 || step < 3"
        type="submit"
        [disabled]="payForm.invalid"
        class="btn btn-success mx-1 my-2"
      >
        Suivant
      </button>
      <button
        *ngIf="step == 3"
        type="submit"
        class="btn btn-primary mx-1 my-2"
      >
        Acheter
      </button>-->
    </div>
  </form>
</div>
