<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-admin">
  <div class="container-fluid">
    <a class="navbar-brand" href="/administrator">QUIZGAME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/administrator">Tableau de bord</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestion des stagiaires
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/administrator/intern/create">Ajout d'un stagiaire</a></li>
            <li><a class="dropdown-item" href="/administrator/intern/list">Liste des stagiaires</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestion des questionnaires
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/administrator/quiz/create">Ajout d'un questionnaire</a></li>
            <li><a class="dropdown-item" href="/administrator/quiz/list">Liste des questionnaires</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer; color: white !important" aria-current="page"  (click)="signOut()" ><i class="fa-solid fa-right-from-bracket"></i></a>
        </li>

      </ul>
    </div>
  </div>
</nav>
